<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sem6"
        tools:targetApi="31">
        <activity
            android:name=".InternalStorage2"
            android:exported="true" />
        <activity
            android:name=".TimePicker"
            android:exported="true" />
        <activity
            android:name=".DynamicScreenChange"
            android:exported="true" />
        <activity
            android:name=".CA"
            android:exported="true" />
        <activity
            android:name=".DrawerLayout"
            android:exported="true" />
        <activity
            android:name=".swipe_view"
            android:exported="true" />
        <activity
            android:name=".ExternalDetails"
            android:exported="true" />
        <activity
            android:name=".ExternalStorage"
            android:exported="true" />
        <activity
            android:name=".InternalStorageEmp"
            android:exported="true" />
        <activity
            android:name=".InternalStorage"
            android:exported="true" />
        <activity
            android:name=".Datepicker"
            android:exported="true" />
        <activity
            android:name=".datatransfer"
            android:exported="true" />
        <activity
            android:name=".DynamicFragActivity"
            android:exported="true" />
        <activity
            android:name=".AlarmManager1"
            android:exported="true" />

        <receiver
            android:name=".AlarmManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.ALARM_TRIGGERED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".jobSchedule"
            android:exported="true" />
        <activity
            android:name=".pendingIntent"
            android:exported="true" />
        <activity
            android:name=".ToastCustom"
            android:exported="true" />
        <activity
            android:name=".Toast"
            android:exported="true" />
        <activity
            android:name=".listView"
            android:exported="true" />
        <activity
            android:name=".Spinners"
            android:exported="true" />
        <activity
            android:name=".splashScreen"
            android:exported="true" />
        <activity
            android:name=".progress"
            android:exported="true" />
        <activity
            android:name=".shopping"
            android:exported="true" />
        <activity
            android:name=".ScrollView"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>